In [5]:
print('Hello World!')

Hello World!

In [17]:
num = int(input("Enter the Number :"))
if(num%2==0):
  print("It is a even number")
else:
  print("It is odd number")

Enter the Number :5
It is odd number

In [12]:
num = 5
f=1
for i in range (2,num+1):
  f = f*i
print('Factorial of number is :',f)

Factorial of number is : 120

In [15]:
num = 5
sum = 0
for i in range (1,num+1):
  sum=sum+i
print("Sum of Natural Numbers :",sum)

Sum of Natural Numbers : 15

In [ ]:
# It is Comment .

In [19]:
1 + 1
2 * 3.5

7.0

In [20]:
print(1 + 1)
print(2 * 3.5)

2
7.0

In [21]:
print('1 + 1 is', 1 + 1)
# this is a comment, Python won't try to execute it
print('All done!')

1 + 1 is 2
All done!

In [22]:
first_result = 1 + 1
final_result = first_result * 3.5

print(final_result)

7.0

In [23]:
sum =2+2
sum = sum*5
print(sum)

20

In [24]:
my_name = 'Dylan'
my_age = 28
my_favorite_number = 2.718
has_dog = True

print('My name is', my_name)
print('My age is', my_age)
print('My favorite number is', my_favorite_number)
print('I own a dog:', has_dog)

My name is Dylan
My age is 28
My favorite number is 2.718
I own a dog: True

In [25]:
print(type(my_name))
print(type(my_age))
print(type(my_favorite_number))
print(type(has_dog))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [47]:
def square(number):
    return number**2
print(square(2))
print(square(6))

4
36

In [48]:
# we can store function output in variables
squared = square(5.5)

print(squared)

my_number = 6
# we can also use variables as function input
print(square(my_number))

30.25
36

In [49]:
print(square('banana'))

TypeError: ignored

In [50]:
def cube(number):
  return number**3
print(cube(3))
print(cube(9))

27
729